{% extends 'layout/layout.html' %}

{% block title %}
Signup | SimplyNote
{% endblock title %}

{% block Style %}
<style>
    /* Add border styles for form fields */
    input[type="text"],
    input[type="password"],
    input[type="email"] {
        border: 1px solid #ced4da; /* Border color */
        border-radius: 0.25rem; /* Border radius */
        padding: 0.375rem 0.75rem; /* Padding */
        width: 100%; /* Full width */
    }

    /* Add focus styles for form fields */
    input[type="text"]:focus,
    input[type="password"]:focus,
    input[type="email"]:focus {
        border-color: #80bdff; /* Border color on focus */
        outline: 0; /* Remove outline */
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* Add shadow on focus */
    }

</style>
{% endblock Style %}

{% block content %}

<nav class="px-10 py-2 shadow shadow-gray-300 w-100 px-8 md:px-auto">
    <div class="md:h-16 h-28 mx-auto md:px-4 container flex items-center justify-between flex-wrap md:flex-nowrap">
        <!-- Logo -->
        <a href="/" class="text-indigo-500 md:order-1 flex items-center justify-center gap-2">
            <!-- Heroicon - Chip Outline -->
            <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M9 3v2m6-2v2M9 19v2m6-2v2M5 9H3m2 6H3m18-6h-2m2 6h-2M7 19h10a2 2 0 002-2V7a2 2 0 00-2-2H7a2 2 0 00-2 2v10a2 2 0 002 2zM9 9h6v6H9V9z" />
            </svg>
            <h1 class="text-xl font-semibold">SimplyNote</h1>
        </a>

        <div class="order-2 flex gap-3 md:order-3">
            <a href="/login/" class="px-4 py-2 bg-indigo-500 hover:bg-indigo-600 text-gray-50 rounded-xl flex items-center gap-2">
                <!-- Heroicons - Login Solid -->
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M3 3a1 1 0 011 1v12a1 1 0 11-2 0V4a1 1 0 011-1zm7.707 3.293a1 1 0 010 1.414L9.414 9H17a1 1 0 110 2H9.414l1.293 1.293a1 1 0 01-1.414 1.414l-3-3a1 1 0 010-1.414l3-3a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
                <span>Login</span>
            </a>
        </div>
    </div>
</nav>

<div class=" flex items-center justify-center my-6">
    <div class="bg-white p-12 rounded shadow-md w-80">
        <img src='/notes/join.gif' alt="Welcome" width="400px" class="mb-4">
        <h2 class="text-2xl font-semibold mb-6 text-center">Sign Up</h2>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="mb-3">
                    <label for="{{ field.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">{{ field.label }}</label>
                    {{ field }}
                </div>
            {% endfor %}
            <div id="passwordRequirements" class="mb-3 text-sm text-gray-700"></div>
            <button type="submit" class="bg-green-500 text-white px-4 py-2 rounded w-full">Sign Up</button>
        </form>
    </div>
</div>


<script>
document.addEventListener('DOMContentLoaded', function() {
    const passwordField = document.querySelector('#id_password1');
    const passwordRequirements = document.querySelector('#passwordRequirements');
    const requirements = [
        "Your password must contain at least 8 characters.",
        "It must include a mixture of capital letters, small letters, special characters, and numbers."
    ];

    passwordField.addEventListener('input', function() {
        const password = this.value;
        let html = '';

        requirements.forEach(function(requirement) {
            const isSatisfied = checkRequirement(password, requirement);
            const color = isSatisfied ? 'green' : 'red';
            html += `<div style="color: ${color};">${requirement}</div>`;
        });

        passwordRequirements.innerHTML = html;
    });

    function checkRequirement(password, requirement) {
        switch(requirement) {
            case "Your password must contain at least 8 characters.":
                return password.length >= 8;
            case "It must include a mixture of capital letters, small letters, special characters, and numbers.":
                return /^(?=.*[a-z])(?=.*[A-Z])(?=.*\W)(?=.*\d)/.test(password);
            default:
                return false;
        }
    }
});
</script>
{% endblock content %}
